body{
  background-color: #999;
}

/* #HomeContent{
  display: flex;
  flex-direction: row;
    border: 3px solid red;
  
    width:100%
  
  } */

  #HomeMainContainer{
    display: flex;
    flex-direction: row;
      background-color: #ccffcc;
      border: 2px solid darkgreen;
      border-radius: 15px;
      
      box-shadow:5px 5px 5px #999;
      padding: 2px;
   margin-top: 2em;
      width:102%
    
    }
  #HomeMainImage{
   display: flex;    
   justify-content: flex-start;
   background-image: url(../images/hill.jpg); 
    background-repeat: no-repeat;
    size: auto;
    margin-top: 1em;
    /* margin-left: 6em; */
    height:30em;
    width:445em;
  }
  #highlight{
    font-size: 1.5em;
    
  }
  #homeMainPara{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
      flex-wrap: wrap;
      margin-top: 0em; 
    margin-left:1em;  
    margin-right:1em;  
    font-size: 2em;
    color: #09310f;
}

/* #HomeHillImage{
    display: flex;
    justify-content: space-evenly;
  /* background-image: url("../images/main.jpg"); */
  /* background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  height: 10em;
  width: 20em; 
} */ */


#HomeActionLink{
    display: flex;
    text-align: center;
    /* align-items: center; */
    font-size: 1.55em;
    font-weight: 600;
    color:#3083E3;
    text-decoration: underline;

}
#homeButtonContainer{
    display: flex;
    flex-direction: row;
      align-items: center;
      background-color: #cee0d2;
    /* border: 2px solid #2a7536; */
    border-radius: 10px;
    /* margin:2em 1em;
    box-shadow:5px 5px 5px #999;
    padding: 2px; */
   
}

#OptionGrid1{
  background-image: url(../images/trash.jpg);

}
#HomeOptionCard{
  display: flex;
  justify-content: space-between;
  background-color: #ccffcc;
  border: 2px solid darkgreen;
  border-radius: 15px;
  width: 50%;
}
#CleanupOptions{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
margin-top: -1em;
  width:102%;
}
