
#Logo{
    width: 8em;
    height: 8em;
    margin-top: 1em
}
#appBar {
    background-color: #50665c;
    color: #7af4ab;
    width:96%;
   
}
#Banner{
    display: flex;
    width:102%;
    margin-top:2em;
    border-radius: 15px;
    border:2px solid darkgreen;
   
    margin-bottom: 2em;
    background-color: #ccffcc;
}
#BannerHeader{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
 #appBar, #footer{
     width:97%;
     background-color: #50665c;
 }
 #footer{
    width:100.5%;
    background-color: #50665c;
    color: #ccffcc;
}